:root{
    --clr--darkCyan: hsl(185, 75%, 39%);
    --clr--veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --clr--darkGrayishBlue: hsl(227, 10%, 46%);
    --clr-darkGray: hsl(0, 0%, 59%);
}

body{
    background-color: var(--clr--darkCyan);
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
h1 , h2{
    color: var(--clr--veryDarkDesaturatedBlue);
    font-size: 18px;
    font-weight: 700;
}
p{
    color: var(--clr-darkGray);
    font-weight: 400;
}

main{
    display: grid;
    place-items: center;
    height: 100dvh;
    .bgtop{
        bottom: 40%;
        right: 50%;
        position: fixed;
        z-index: -999;
        svg{
            height: 70%;
        }
    }
    .bgbottom{
        top: 40%;
        left: 50%;
        position: fixed;
        z-index: -999;
        svg{
            height: 70%;
        }
    }
}
.card{
    background-color: white;
    max-width: 375px;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    .top{
        width: 100%;
        img{
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
    }
    .profile-img{
        position: absolute;
        right: 35%;
        top: 22%;
        margin: 0 auto;
        img{
            border: solid 5px white;
            border-radius: 50%;
        }
    }
    .top-content{
        margin-top: 3rem;
        padding: 10px 20px;
        span{
            font-weight: lighter;
            color: var(--clr-darkGray);
        }
    }
    hr{
        margin: 0;
        color: var(--clr-darkGray);
    }
    .flex{
        padding: 10px 20px;
        margin: 20px auto;
        display: flex;
        gap: 1rem;
        justify-content: space-around;
        h2{
            margin: 0;
        }
        .small{
            letter-spacing: 1px;
            margin: 0;
            font-size: .7rem;
        }
    }
}